h1, h2{
    color: red;
}
body{background-color: rgb(231, 231, 231);
margin: 0;
padding: 0;
box-sizing: border-box;}
.fotofreno{
    width: 400px;
    height: 300px;
    display: block;
    margin: auto;
}
.header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgb(0, 0, 0);
    color: white;
}
.Tarjetaproducto {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

}
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
}
.sidebar {
    background-color: aquamarine;
    padding: 1rem;

}
@media (min-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 2rem;
    }
    .Tarjetaproducto {
        flex-direction: row;
        flex-wrap: wrap;

    }
    .card {
        flex: 1 1 calc(50% - 1rem);
    }
}

