h1, h2{
    color: red;
}
body{background-color: lightblue;
margin: 0;}
.fotofreno{
    width: 400px;
    height: 300px;
    display: block;
    margin: auto;
    border: 2px solid black;
    border-radius: 10px;
}
footer{
    margin-top: 30px;
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;

}