* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

main, header, footer, .preheader {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.preheader {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 0.5rem 0;
    font-size: 0.9rem;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    align-items: center;
    padding: 1rem 0;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
section {
    margin: 2rem 0;
}

section > header {
    margin-bottom: 1rem;
}
section h2, section h3 {
    color: #444;
    font-size: 2rem;
}
section p {
    max-width: 600px;
    font-size: 1rem;
}   
.grid-main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
}
.card-producto {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column; 
    height: 100%;
}
.card-producto figure {
    aspect-ratio: 4/3;
    width: 100%;
    overflow: hidden;
}
.card-producto img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: transform 0.3s ease;
}
card-contenido h3{
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
card-contenido .descripcion{
    font-size: 0.9rem;
    color: #222;
}
card-contenido .precio{
    font-weight: bold;
    display: flex;
    margin-top: 2rem;
    color: blue;    
}
button {
    background-color: #1a1db1;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: auto; 
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #151794;
}
